body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    background-color: darkblue;
    padding: 1px;
}

#title {
    color: white;
    font-size: 24px;
    text-align: right;
    margin-right: 20vh;
}

#searchBtn {
    display: flex;
    flex: auto;
    margin-top: 10px;
    width: 25vh;
}

aside#currentWeather {
    border: 3px solid black;
    display: flexbox;
    
}